body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Orbitron', sans-serif;
    background-color:rgb(123, 156, 156)
}
.content1{
    background-color: rgb(207, 209, 209);

}
.content2{
}
